body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.top-container {
    background-color: #1f2937;
    padding: 8px;
}
/* Header section */
.header {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Header section ends. */


/* Hero section starts here  */

.hero-container {
    display: flex;
    padding: 100px;
    gap: 120px;
    justify-content: center;

}

.hero-content {
    width: 430px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 1px;
}
.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 2px;
}

.place-holder {
    width: 600px;
    max-height: 250px;
    background-color: grey;
    text-align: center;
    align-content: center;
    color: lightgray;

}

.button {
    background-color: #3882f6;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
}
/* Hero container ends here. */

/* Information container starts here */

.information {
    padding: 30px;
    margin-bottom: 30px;
}

.information h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 60px;
}

.card-placeholder {
    height: 170px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.card {
    width: 150px;
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card p {
    text-align: center;
    color: #6b6b6b
}

/* Information ends here  */

/* Quote content starts  */

.quote {
    padding: 60px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote p {
    width: 830px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}


span {
    display: block;
    width: fit-content;
    margin-left: auto;
    font-size: 25px;
    font-weight: 900;
}


/* Bottom container starts from here  */

.bottom-container {
    display: flex;
    justify-content: center;
    padding: 70px;
    margin: 32px 0;

}

.blue-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 700px;
    border-radius: 8px;
    padding: 30px 70px;
}
.left h2{
    margin: 0;
    font-size: 24px;
    color: #f9faf8;
}
.left p {
    color: #e5e7eb;
    margin: 0;
}

.right .button {
    border: 2px solid white;
}

/* Footer starts here  */

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}